html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url('../images/empty-light.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #e0e0e0;
  margin: 0;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%; /*Full-height: remove this if you want "auto" height */
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: linear-gradient(#99D483, #422E01);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1rem;
}
.sidenav a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:active {
  color: #f1f1f1;
}

.current a:active {
  color: #818181;
}

section {
  margin-left: 150px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.featured {
  font-size: 150%;
  text-align: center;
}

h1 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 300%;
    text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-end;
}

.book {
  max-width: 100%;
  padding: 7rem;
  height: 350px;
  border: 1px solid #CCC;
  margin: 1rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: perspective(600px) rotateX(0deg) rotateY(-3deg);
  box-shadow: 10px 10px 5px #e0dbcc;
}

/*book covers(the images)*/
#hunger {
  background-image: url('../images/hunger-games.jpg');
}

#prom {
  background-image: url('../images/prom-and-prejudice.jpg');
}
#holes {
  background-image: url('../images/holes.png');
}
#unfortunate {
  background-image: url('../images/series.jpg');
}
#outsiders {
  background-image: url('../images/outsiders.jpg');
}
/*next row*/
#born {
  background-image: url('../images/born.jpg');
}
#starless {
  background-image: url('../images/starless.jpg');
}
#wuthering {
  background-image: url('../images/wuthering.jpg');
}
#catcher {
  background-image: url('../images/catcher.jpg');
}
#hate {
  background-image: url('../images/hate.jpg');
}
/*more books*/
#train {
  background-image: url('../images/girltrain.jpg');
}
#cabin {
  background-image: url('../images/cabin.jpg');
}
#lisey {
  background-image: url('../images/lisey.jpg');
}
#second {
  background-image: url('../images/second.jpg');
}
#boys {
  background-image: url('../images/boys.jpg');
}
#beautiful {
  background-image: url('../images/beautiful.jpg');
}
#treasure {
    background-image: url('../images/treasure.jpg');
}
#maze {
    background-image: url('../images/maze.jpg');
}
#tellyou {
  background-image: url('../images/tellyou.jpg');

}

/*For the modal or pop-up*/
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
  display: flex;
	justify-content: center;
	align-items: center;
  padding: 0.5rem;
  z-index: 3;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 2rem;
	position: relative;
	border-radius: 4px;
  top: 25%;
  margin: 0 auto;
  overflow-x: hidden;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
/*end of pop-up*/
.genres {
  font-size: 150%;
  padding: 1rem;
}
footer {
  padding: 0.5rem;
  width: 100%;
  background: #cae0d0;
  color: #000;
  text-align: center;
}


/*media queries */
@media screen and (max-width: 905px) {
  .book {
    margin: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 120px; /* Set the width of the sidebar */
  }
  .row {
    padding-right: 1rem;
  }
  h1 {
    padding-left: 10rem;
 }
  .forAges {
   text-align: center;
   padding-top: 1rem;
   font-size: 125%;
   text-decoration: underline;
 }
 .genres {
  text-align: center;
  padding-top: 1rem;
  font-size: 125%;
  text-decoration: underline;
}
  section {
   margin-left: 120px; /* Same as the width of the sidebar */
   padding: 0;
 }
}

@media screen and (max-width: 660px) {
  .bg-modal {
    background: none;
  }
  .modal-contents {
    height: 350px;
  	width: 350px;
    border-radius: 20px;
    border: 1px solid #CCC;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    padding-right: 1rem;
  }

 .genres {
    text-align: left;
    padding-right: 1.5rem;
    margin: 0;
  }
  .sidenav {
    background: #9bc9ae;
    height: 100%;
    padding: 1rem;
    margin: 0;
  }
  .book {
    transform: none;
    box-shadow: none;
  }
  .modal-contents {
    height: 300px;
    width: 290px;
    right: 8%;
  }
  .row {
    padding: 1rem;
  }
}
